---
---

@import "bootstrap.min.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/MaterialIcons-Regular.woff2) format('woff2');
}

.mi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: top;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

body {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: #0048a8;
}

div.card,
ol,
ul,
p {
  max-width: 50rem;
}

a {
  color: #3c80ef;  
}

a:hover {
  text-decoration: none;
}

.bg-blue {
  background-color: #3c80ef;
}

.bg-orange {
  background-color: #ef8400;
}

.bg-green {
  background-color: #63c100;
}

.bg-dark-blue {
  background-color: #0048a8;
}

table {
  caption-side: top;
}

caption {
  white-space: nowrap;
}

caption,
th {
  background-color: #3c80ef;
  color: white;
  padding: 0.3rem 0.5rem;
  border: 1px solid #ececec;
  font-weight: normal;
}

td {
  background-color: white;
  padding: 0.3rem 0.5rem;
  border: 1px solid #ececec;
}

.card-body p:last-child {
  margin-bottom: 0;
}

.clickable {
  cursor: pointer;
}

main ul {
  list-style-type: square;
}

.breadcrumb > span {
  margin-top: -0.2rem;
}

.col-thumbnail {
  flex-grow: 0;
  flex-shrink: 1;
}

a#totop {
  display:block;
  width: 19px;
  height: 12px;
  background-image: url(/assets/images/totop.png);
  text-decoration: none;
  opacity: 0.2;
}

a#totop:hover {
  opacity: 0.6;
}
